<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "bd" class ="com.springcore.services.BlueDart"/>
    <bean id = "dhl" class ="com.springcore.services.DHL"/>
    <bean id= "fedex" class ="com.springcore.services.FedEx"/>
    
    
	<bean id = "amz" class ="com.springcore.main.Amazon"> 
		<property ref="bd" name="service"></property>
		<constructor-arg ref="fedex" name="service"></constructor-arg>
	</bean>
</beans>
